html, body {
  height: 100%;
}
body {
  background-color: #fffafa;
  line-height: 21px;
}
p {
  line-height: 1.5em;
  font-size: 1.1em
}
.hidden {
  display: none;
}
.note {
  font-weight: bold;
  color: red;
}
.idle {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 2.2em;
}
.idle > a {
  color: #333;
  text-decoration: underline;
}
.whiteback {
  background-color: #fff;
}
.grey {
  color: #999;
}
.underline {
  text-decoration: underline;
}

.nav-bar {
  position: fixed; 
  width: 95%; 
  margin: 25px auto 10px auto; 
}
.navbar-inner {
  height: 40px;
  border: 1px solid #aaa;
}
.navbar-inner li {
  border-left: dotted 1px #aaa;
}
.container { 
  width: 900px; 
}

#introduction { 
  margin-top: 20px; 
}

.compare-codes {
  width: 890px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}
.compare-codes pre {
  border: none;
}
.compare-right {
  width: 450px;
  float: left;
  border-left: 1px dotted #999;
}
.compare-left {
  width: 439px;
  float: left;
}
br.clear {
  clear: both;
}

#table-of-contents {
  position: fixed;
  top: 60px;
  left: 18.2%;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 0.5em 2em 0.5em 0;
}
#table-of-contents li {
  list-style-type:none;
}

#try-little-smallscript {
  position: fixed;
  top: 70px;
  left: 2.5%;
  width: 92.7%;
  height: 80%;
  background-color: transparent;
  padding: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.console {
  height: 100%;
  background-color:rgba(24, 26, 58, 0.9);
  border: 1px solid #aaa;
}
.console textarea {
  color: #fff;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}
.console-left {
  float: left;
  height: 100%;
  width: 45%;
  background-color: transparent;
  border: none;
}
.console-right {
  float: left;
  height: 100%;
  width: 45%;
  background-color: transparent;
  border: none;
}
.console-buttons {
  margin: 10px auto 0 auto;
  text-align: center;
}
.error {
  background-color: #faa;
}