p {
  line-height: 1.5em;
  font-size: 1.1em
}
.whiteback {
  background-color: #fff;
}
.grey {
  color: #999;
}
.underline {
  text-decoration: underline;
}
.compare-codes {
  width: 800px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}
.compare-codes pre {
  border: none;
}
.compare-right {
  width: 399px;
  float: left;
  border-left: 1px dotted #999;
}
.compare-left {
  width: 400px;
  float: left;
}
br.clear {
  clear: both;
}