body {
  background-color: #fffafa;
}
p {
  line-height: 1.5em;
  font-size: 1.1em
}
.note {
  font-weight: bold;
  color: red;
}
.idle {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 2.2em;
}
.idle > a {
  color: #333;
  text-decoration: underline;
}
.whiteback {
  background-color: #fff;
}
.grey {
  color: #999;
}
.underline {
  text-decoration: underline;
}
.compare-codes {
  width: 890px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}
.compare-codes pre {
  border: none;
}
.compare-right {
  width: 450px;
  float: left;
  border-left: 1px dotted #999;
}
.compare-left {
  width: 439px;
  float: left;
}
br.clear {
  clear: both;
}